* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    text-decoration: none;
    /* scroll-behavior: smooth; */
  }


  body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }
  
  body {
    width: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    --sb-track-color: #ffffff;
    --sb-thumb-color: #ffffff;
    --sb-size: 1px;
    background-color: #ffffff;
  }  


.btn {
    align-items: center;
    position: absolute;
    justify-content: center;

}

  @media (max-width: 768px) {
    .hamburger {
      display: block; 
    }
    .menu {
      display: none;
      position: absolute;
      top: 60px; 
      left: 0;
      width: 100%;
      background-color: #f2f2f2;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }
    .menu.open {
      transform: translateX(0); 
    }
  }